/* CSS styles for your map container */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

#routingButton {
    position: absolute;
    top: 80px;
   right: 10px;
    /* width: 100px; */
    /* height: 50px; */
    
    border-radius: 5px;
    border-color: 2px solid pink;
    background-color: rgb(256,256,256);
    background-image: url('./Additional files/route.png'); /* Update with correct path */
    background-size: cover;
  
    /* border: none; */
    cursor: pointer;
    z-index: 1000; /* Ensure the button is on top of the map */
    display: block; /* Ensure the button is displayed */
}
#routingButton .fa-solid {
    font-size: 2em; /* 3 times the default size */
  }
  
